<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>
    Student Marks System
</title>
</head>

<body>

    <h3>Enter Lecturers details </h3>
    <div th:if="${error}" class="error">
        <p th:text="${error}"></p>
    </div>

    
    <form th:action="@{/login}" method="post">
        <label for="id">Enter Id </label>
        <input type="number" name="id" placeholder="userId" required>
        <br><br>
        <label for="pin">Enter pin</label>
    <input type="number" name="pin" placeholder="userPin" required>
    <br><br>
    <button type="submit">login</button>

    </form>

</body>




</html>