<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
   
         
        <head>
            <title>Menu</title>
             <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        </head>

   

    <body class="Menu-body">

      <div class="Menu-a"> 
      
     
       <div class="Menu-container">
         <h3 class="menu"> Menu</h3>
        <ul class="Menu-list">
           
            <li><a th:href="@{/student/add}"> Add Student</a></li>
            <li><a th:href="@{/student/searchStudent}"> Search Student</a></li>
            <li><a th:href="@{/student/list}"> View Student</a></li>
            
  

        </ul>

 </div> 
       </div>

    </body>
















</html>