<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
         
        <head>
            <title>Menu</title>
        </head>

    </head>

    <body>
        
       <h3> Menu</h3>

       <div>
        <ul>
           
            <li><a th:href="@{/student/add}"> Add Student</a></li>
            <li><a href="@{/student/search}"> Search Student</a></li>
            <li><a href="@{/student/edit}"> Edit Student</a></li>
            <li><a href="@{/student/delete}">Delete Student</a></li>
  

        </ul>


       </div>

    </body>
















</html>