<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title>Search Student</title>
   <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="search-card" >

    <div class="search-container">
<h1>Search Student</h1>

<form th:action="@{/student/search}" method="get">

    <div class="Form-group">

    <label>Student Number:</label>
    <input type="text" name="studentNumber">
    <br><br>
    </div>

   <p class="OR-TEXT"> <strong>OR</strong>
    <br><br>
    </p>
<div form="Form-group">
    <label>Student Name:</label>
    <input type="text" name="name">
    <br><br>
</div>
    <button type="submit">Search</button>

</form>
</div>
<!-- Error message -->
<p th:if="${error}" th:text="${error}" style="color:red"></p>

<!-- Result -->
<div class="results" th:if="${student != null}">
    <h3>Student Found</h3>
    <p>Student Number: <span th:text="${student.studentNumber}"></span></p>
    <p>Name: <span th:text="${student.name}"></span></p>
    <p>Course: <span th:text="${student.course}"></span></p>
    <p>Module: <span th:text="${student.module}"></span></p>
    <p>Percentage: <span th:text="${student.percentage}"></span></p>
</div>

<div th:if="${student == null}">
    <p class="No-results">No student found</p>
</div>

</body>
</html>
